.photo__header .photo__link {
  display: inline-block;
  width: 90%;
}

.photo__publisher {
  margin-bottom: 20px;
}

.go-back {
  display: inline-block;
  float: right;
  margin: 20px 0;
  padding: 8px;
}

.bold {
  font-weight: 600;
}
