/* Typography */

h1 {
  transition: all 0.35s ease-out;
}

h2 {
  margin: 10px 0;

  span {
    font-style: italic;
  }
}

a {
  color: #2e86de;
  text-decoration: none;
  transition: all 0.35s ease-out;
}
