html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding-bottom: 30px;
  background-color: #fff;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media(min-width: 1000px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

/* Loader styling */
.loader:empty {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ad2b65;
  border-bottom-color: #ad2b65;
  animation: spinner .8s ease infinite;
}

@keyframes spinner {
 to {transform: rotate(360deg);}
}

/* Global */
@import "styles/_typography.scss";
@import "styles/_buttons.scss";

/* Layout */
@import "styles/_header.scss";

/* Components */
@import "styles/_form.scss";

/* Pages */
@import "styles/_feed.scss";
@import "styles/_photo.scss";
@import "styles/_tag.scss";
